* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.resizable_container {
  border: 1px solid gray;
  background-color: rgb(240, 240, 240);

}
